.categoryHero {
  background-color: #f4f0f8;
  padding: 80px 0;
  text-align: center;
}
.categoryHero .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.categoryHero h2 {
  font-size: 56px;
  font-weight: 700;
  padding-bottom: 16px;
}
.categoryHero p {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 32px;
  color: #6d6e76;
  width: 515px;
}
.categoryHero h3 {
  font-size: 16px;
  font-weight: 600;
}
.mainContent .container {
  display: flex;
  padding: 128px 0;
  gap: 102px;
}
.mainContent .blogPost {
  gap: 32px;
}
.mainContent .postText {
  width: 400px;
}
.postText h2 {
  font-size: 30px;
}
.mainContent .postImg {
  width: 300px;
}
.mainContent .postImg img {
  width: 100%;
}
.categories {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.categoriesTitle {
  font-size: 36px;
  font-weight: 700;
  padding: 30px 0;
}
.categoryImg {
  width: 58px;
  height: 58px;
  border-radius: 12px;
  background-color: #fbf6ea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.oneCategory {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 24px;
  gap: 24px;
  border: 1.5px solid #c1c1c3;
}
.activeCategory {
  background-color: #ffd050;
}
.oneCategory:hover {
  background-color: #ffd050;
}
.oneCategory:hover .categoryImg {
  background-color: white;
}
.allTags span {
  border: 2px solid #6d6e76;
  border-radius: 28px;
  padding: 8px 28px;
}
.allTags span p {
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  color: #232536;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
